<%- include('../layouts/header') %>
<div class="container-scroller">
<%- include('../layouts/navbar') %>
<div class="container-fluid page-body-wrapper">
<%- include('../layouts/sidebar') %>
<div class="main-panel">
<div class="content-wrapper">

<div class="row">
    <div class="col-md-12">
        <% if (typeof message != 'undefined') { %>
            <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
                <%= message.text %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <div class="card">
            <div class="card-header">
                <h3>Tất cả người dùng
                    <a href="/admin/create-user" class="btn btn-sm btn-primary float-end">
                        Thêm người dùng
                    </a>
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" id="search-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Chức vụ</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (users.length > 0) { %>
                            <% let i = 0 %>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td><%= ++i %></td>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td>
                                        <% if (user.role == 1) { %>
                                            <label class="badge btn btn-primary">Admin</label>    
                                        <% } else { %>
                                            <label class="badge btn btn-success">User</label>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/admin/edit-user/<%= user._id %>" class="btn btn-sm btn-success">Edit</a>
                                        <a onclick="return confirm('Bạn có muốn xóa người dùng này?')" href="/admin/user/<%= user._id %>/delete" class="btn btn-sm btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#search-table', {
        // "dom": 'lrtip',
        "language": {
            "emptyTable": "Chưa có người dùng nào (Ngoại trừ admin đang đăng nhập)"
        },
        "columns": [
            { "searchable": false },
            { "searchable": true },
            { "searchable": false },
            { "searchable": false },
            { "searchable": false },
        ]
    }); 
</script>
<%- include('../layouts/footer') %>