<%- include('../layouts/header') %>
<div class="container-scroller">
<%- include('../layouts/navbar') %>
<div class="container-fluid page-body-wrapper">
<%- include('../layouts/sidebar') %>
<div class="main-panel">
<div class="content-wrapper">

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Sửa thông tin người dùng
                    <a href="/admin/all-users" class="btn btn-sm btn-primary float-end">Trở lại</a>
                </h3>
            </div>
            <div class="card-body">
                <form action="/admin/edit-user/<%= _user._id %>/password" method="POST">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label>Mật khẩu</label>
                            <% if (typeof errors != 'undefined') { %>
                                <% let flag = 0 %>
                                <% errors.forEach(error => { %>
                                <% if (error.path == 'password') { %>
                                <% flag = 1 %>
                                <input type="password" name="password" class="form-control" 
                                    value="<%= error.value %>" required />
                                <% }}) %>

                                <% if (flag == 0) { %>
                                    <input type="text" name="password" class="form-control" value="<%= requestPassword %>" required/>
                                <% } %>

                                <% errors.forEach(error => { %>
                                <% if (error.path == 'password') { %>
                                <label class="form-label text-danger"><%= error.msg %></label>
                                <% } %>
                                <% }) %>

                            <% } else { %>
                                <input type="password" name="password" class="form-control"/>
                            <% } %>
                        </div>

                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary float-end">Sửa</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>