<%- include('./layouts/header') %>
<div class="container-scroller">
<%- include('./layouts/navbar') %>
<div class="container-fluid page-body-wrapper">
<%- include('./layouts/sidebar') %>
<div class="main-panel">
<div class="content-wrapper">

<div class="container my-3">
    <div class="card-header">
        <a href="/admin/dashboard" class="btn btn-sm btn-primary float-end">Trở lại</a>
    </div>
    <% if (typeof message != 'undefined') { %>
        <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
            <%= message.text %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <form method="POST" action="/admin/password-setting">
        <div class="mb-3 col-6">
            <label class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" name="password">
            <% if (typeof errMsg != 'undefined') { %>
            <p class="text text-danger"><%= errMsg %></p>
            <% } %>
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" name="newPassword">
            <% if (typeof errorsArray != 'undefined') { %>
            <% errorsArray.forEach(err => { %>
                <p class="text text-danger"><%= err.msg %></p>
            <% }) %>
            <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>

</div>

</div>
</div>
</div>
</div>
<%- include('./layouts/footer') %>