<%- include('../layouts/header') %>
<div class="container-scroller">
<%- include('../layouts/navbar') %>
<div class="container-fluid page-body-wrapper">
<%- include('../layouts/sidebar') %>
<div class="main-panel">
<div class="content-wrapper">

<div class="card-header">
    <h3>
        <a href="/admin/all-posts" class="btn btn-sm btn-primary float-end">
            Trở lại
        </a>
    </h3>
</div>
<div class="container py-3">
    <form method="POST" action="/admin/edit-post/<%= post._id %>" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tiêu đề</label>
            <input type="text" name="title" class="form-control" placeholder="Type your title" value="<%= post.title %>">
        </div>
        <div class="form-group">
            <label>Ảnh</label>
            <input type="file" name="image" class="form-control" placeholder="Chọn ảnh">
            <input type="hidden" name="old_image" value="<%= post.image %>">
            <img src="/uploads/post_image/<%= post.image %>" alt="" width="200" height="200">
        </div>
        <div class="form-group">
            <label>Nội dung</label>
            <textarea id="editor" name="description" class="form-control" cols="30" rows="10"><%- post.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>

</div>
</div>
</div>
</div>
<%- include('../layouts/footer') %>