<%- include('../layouts/header') %>


<div class="container">
<div class="post-heading">
    <h1 style="text-transform: capitalize;"><%= post.title %></h1>
</div>
<div class="row">
    <p class="col-6">
        Đăng bởi <b><%= post.author %></b>
        vào ngày <%= moment(post.createdAt).format('DD-MM-YYYY') %>
    </p>
    <p class="col-6 text-end">
        <% if (post.modified == 1) { %>
            Sửa lần cuối: <%= moment(post.updatedAt).fromNow() %>
        <% } %>
    </p>
</div>
   
<!-- Post Content-->
<article class="mb-4">
        <div class="row">
            <div class="col">
                <%- post.description %>
            </div>
        </div>
    </article>
</div>

<%- include('../layouts/footer') %>